<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="../CSS/Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <title>Khóa học</title>
</head>
<body>
<div th:insert="header::header">
</div>
<div th:insert="/student/sidebar::sidebar">
</div>

<div class="content">
    <div class="content-wrap">
        <div class="list-users-title clear-fix">
            <div class="main-title">Dashboard</div>
        </div>
    </div>
</div>
<script src="../JS/jquery-3.4.1.min.js"></script>
<script src="../Bootstrap/bootstrap.js"></script>
<script src="../JS/Layout.js"></script>
</body>
</html>