<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link th:href="@{~/CSS/Layout.css}" rel="stylesheet"/>
    <link th:href="@{~/CSS/StudentDashboard.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Trang chủ</title>
</head>
<body>
<div th:insert="header::header">
</div>
<div th:insert="/student/sidebar::sidebar">
</div>

<div class="dashboard">
    <div class="content-wrap">
        <div class="welcome"><h2>Chào mừng bạn đến với hệ thống đào tạo và sát hạch lý thuyết giao thông!</h2></div>
        <div class="schedule"></div>
    </div>
</div>
<script th:src="@{~/JS/jquery-3.4.1.min.js}"></script>
<script th:src="@{~/JS/Layout.js}"></script>
<script th:src="@{~/JS/student/dashboard.js}"></script>
</body>
</html>