<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<link href="/CSS/history.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
<title>Lịch sử thi</title>
</head>
<body>
	<div th:replace="/header :: header"></div>
	<div th:replace="/admin/AdminSidebar :: adminSidebar"></div>
	<div class="content-history">
		<div class="title-history">
			LỊCH SỬ THI
		</div>
		<div class="space"></div>
		<div class="history">
			<table class="list-users">
				<thead>
					<tr>
						<th>STT</th>
						<th>Mã đề</th>
						<th>Hạng</th>
						<th>Người phụ trách</th>
						<th>Thời gian tạo</th>
						<th>Thời gian thi</th>
						<th>Địa điểm thi</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<script src="../JS/jquery-3.4.1.min.js"></script>
	<script src="../JS/Layout.js"></script>
</body>
</html>