.search-text, .search-submit {
    float: left;
    border-radius: 25px;
}

.search-submit {
    background: gray;
    color: white;
}

input.form-control.search-text {
    width: 75%;
    margin-right: 15px;
}

.title {
    padding-left: 16px;
    padding-bottom: 25px;
    margin-bottom: 5px;
}

.tool {
    margin-top: -18px;
    margin-bottom: 18px;
}

.inline {
    display: inline-block;
}

.paging {
    text-align: center;
    margin-top: 20px;
}
