.content-wrap {
    position: relative;
    width: 100%;
    height: auto;
}
.list-users-title {
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}
.main-title {
    height: 100%;
    line-height: 70px;
    font-size: 23px;
    color: #026b97;
    font-weight: bold;
    width: 300px;
    text-align: left;
    padding-left: 20px;
    float: left;
    text-transform: uppercase;
}
.exam-schedule{
    width: 100%;
    content: "";
    display: table;
    clear: both;
}
.column {
    /*border: 1px solid #026b97;*/
    float: left;
    left: 2px;
    padding: 0 15px;
    height: 430px;
    margin: 5px;
    box-shadow: 0px 5px 5px #607c7c;
}

.column-title{
    color: #607c7c;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.column-content{
    margin-top: 10px;
    line-height: 20px;
}

.column-content input{
    height: 30px;
    border-radius: 3px;
    border: 2px solid #02a3e9;
    margin: 10px 0px;
    width: 100%;
}

input:hover {
    box-shadow: 0px 0px 10px #026b97;
}

.middle, .right {
    width: 38%;
}

.left {
    width: 250px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-footer{
    font-size: 16px;
    margin: 5px;
    height: 34px;
    border-radius: 5px;
    background: #19b133;
    border: none;
    cursor: pointer;
    top: calc(50% - 17px);
    right: 340px;
    outline: none;
    color: #fff;
    padding: 7px;
}

.btn-back{
    background: #026b97;
}

table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
}

thead th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 40px;
    color: #fff;
    position: sticky;
    top: 0;
    background: #026b97;
    text-align: center;
}

tbody tr td:nth-child(2) {
    text-align: left;
}

tbody td {
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 37px;
    padding: 6px;
    text-align: center;
}
tbody tr:nth-child(even) td {
    background: rgba(163, 161, 161, 0.79);
}

tbody td a{
    color: #026b97;
}

tbody td a:hover{
    color: #000000;
}

#table1, #table2{
    height: 400px;
    overflow: auto;
}

#table1::-webkit-scrollbar {
    width: 0.5em;
}

#table1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#table1::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#table2::-webkit-scrollbar {
    width: 0.5em;
}

#table2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#table2::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}