* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    width: 800px;
}

a {
    text-decoration: none;
}

.clear-fix:after {
    width: 100%;
    content: ' ';
    display: block;
    clear: both;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;
    background: #026b97;
}

.logo {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #fff;
    background: url('../Content/Images/logo.png') no-repeat center center;
    background-size: 150px;
}

.sidebar .menu {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.menu-item {
    height: 65px;
    width: 100%;
    line-height: 65px;
    text-align: left;
    border-bottom: 1px solid #fff;
    text-indent: 18px;
}

    .menu-item > a {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
    }

.header {
    position: absolute;
    top: 0;
    left: 172px;
    right: 0;
    height: 60px;
    background: #026b97;
}

    .header .header-left {
        height: 100%;
        width: 30px;
        float: left;
        text-align: center;
        line-height: 60px;
        margin-left: 20px;
    }

.header-left > span {
    font-size: 20px;
    color: #fff;
}

.header .menu-header-right {
    height: 100%;
    width: 210px;
    float: right;
    display: flex;
}

.menu-header-right-item {
    height: 100%;
    line-height: 60px;
    width: 70px;
    text-align: center;
}

    .menu-header-right-item > span {
        color: #fff;
        font-size: 20px;
    }
.content-history {
    position: absolute;
    left: 172px;
    right: 0;
    top: 60px;
    bottom: 0;
    background: #f7f9f9;
    display: flex;
    flex-direction: column;
}
    .content-history .title-history {    
        width: 100%;
        height: 80px;
        line-height: 120px;
        font-size: 26px;
        color: #026b97;
        text-align: center;
    }

    .content-history .space {    
        height: 2px;
        width: 100px;
        background: #026b97;
        margin: 0 auto;
    }
    .content-history .history {
        margin-top: 20px;
        width: calc(100% - 20px);
        height: calc(100% - 200px);
        overflow: auto;
        border: 1px solid #d9d9d9;
        margin: 20px auto;
    }
        .history table.list-users {
            width: 100%;
            max-height: 100%;
            border-collapse: collapse;
            table-layout: auto;
        }
            .list-users thead th {
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                height: 40px;
                color: #636365;
                position: sticky;
                top: -1px;
                background: #f4f1f1;
            }
            .list-users tbody td {
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                height: 37px;
                text-align: left;
                padding: 6px;
            }
            .list-users tbody tr:nth-child(even) td {
                background: #ebebeb;
            }
            thead tr th:nth-child(1) {
                width: 40px;
            }
            thead tr th:nth-child(2) {
                width: 220px;
            }
            thead tr th:nth-child(3) {
                width: 50px;
            }
            thead tr th:nth-child(5) {
                width: 200px;
            }
            thead tr th:nth-child(6) {
                width: 200px;
            }
            thead tr th:nth-child(7) {
                width: 200px;
            }
            tbody tr td:nth-child(1) {
                text-align: center;
            }