* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    width: 800px;
}

a {
    text-decoration: none;
    color: #212121;
}

.clear-fix:after {
    width: 100%;
    content: ' ';
    display: block;
    clear: both;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;
    background: #026b97;
}

.logo {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #fff;
    background: url('../Content/Images/logo.png') no-repeat center center;
    background-size: 150px;
}

.sidebar .menu {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.menu-item {
    height: 65px;
    width: 100%;
    line-height: 65px;
    text-align: left;
    border-bottom: 1px solid #fff;
    text-indent: 18px;
}

    .menu-item > a {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
    }

.header {
    position: absolute;
    top: 0;
    left: 172px;
    right: 0;
    height: 60px;
    background: #026b97;
}

    .header .header-left {
        height: 100%;
        width: 30px;
        float: left;
        text-align: center;
        line-height: 60px;
        margin-left: 20px;
    }

.header-left > span {
    font-size: 20px;
    color: #fff;
}

.header .menu-header-right {
    height: 100%;
    width: 210px;
    float: right;
    display: flex;
}

.menu-header-right-item {
    height: 100%;
    line-height: 60px;
    width: 70px;
    text-align: center;
    position: relative;
}

    .menu-header-right-item > span {
        color: #fff;
        font-size: 20px;
    }
    .notifi {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: red;
        line-height: 20px;
        text-align: center;
        font-size: 14px !important;
        position: absolute;
        top: 10px;
        right: 18px;
    }
    .notification {
        cursor: pointer;
    }
    .list-notifi {
        display: none;
        width: 180px;
        height: 200px;
        box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
        position: absolute;
        background: #fff;
        right: 95px;
        top: 38px;
    }
        .title-notifi {
            height: 40px;
            line-height: 40px;
            color: #212121;
            font-size: 15px;
            text-align: center;
            background: #ebebeb;
        }
        .content-notifi {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 160px;
        }
            .notifi-item {
                width: 100%;
                height: 40px;
                font-size: 13px;
                color: #212121;
                text-align: left;
                padding-left: 8px;
                padding-top: 6px;
                background: #dee6fd;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
            }

.content {
    position: absolute;
    left: 172px;
    right: 0;
    top: 60px;
    bottom: 0;
    background: #fff;
}

.categories {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .categories .categories-item {
        width: 250px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #dee6fd;
        background: #dee6fd;
        display: flex;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }

.categories-item-text {
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 25px;
    padding-top: 18px;
}

.categories-item-icon {
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 25px;
    padding-top: 35px;
}

    .categories-item-icon:before {
        color: #929090;
        font-size: 60px;
    }

.categories-item-text {
    font-size: 16px;
}

.statistical {
    display: flex;
    height: 60px;
    width: 100%;
    background: #f7f5f5;
}

.statistical-item {
    width: 50%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: none;
}

.content .chart {
    display: flex;
    width: 100%;
    height: calc(100% - 220px);
    background: #fdfcfc;
}

.chart-item {
    height: 100%;
    width: 50%;
    border: 1px solid #ccc;
    border-top: none;
    padding-top: 40px;
}

.account {
    cursor: pointer;
}
.dropdownd-user {
    list-style: none;
    position: relative;
    display: none;
}

    .dropdownd-user > li > ul.option-acc {
        position: absolute;
        z-index: 2;
        background: white;
        box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
        left: -57px;
        top: -23px;
    }

        .dropdownd-user > li > ul > li {
            height: 25px;
            width: 100px;
            line-height: 25px;
            list-style: none;
            text-align: center;       
        }

    .dropdownd-user a {
        font-size: 14px;
        color: #212121;
        font-family: Tahoma !important;
    }

    .dropdownd-user > li > ul > li:first-child {
        border-bottom: 1px solid #ccc;
    }

    .dropdownd-user > li > ul > li:hover {
        background: #dee6fd;
    }