* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto Medium;
	outline: none;
}

.content form input[type="submit"] {
	position: absolute;
	bottom: 10%;
	right: 10%;
}

.form-group-fluid.answer.answer-text-answrer textarea {
	margin-left: calc(10% + 150px);
	border-radius: 10px;
	width: calc(80% - 150px);
	height: 100%;
}
textarea {
	padding: 10px;
	font-size: 14px;
}

.form-group-fluid.answer a {text-decoration: none;margin-left: calc(10% + 150px );width: 30px;line-height: 30px;font-size: 14px;color: darkblue;}

.form-group-fluid.answer .one-answer input[type="checkbox"] {
	width: 25px;
	font-size: 14px;
}

.form-group-fluid.answer .one-answer textarea {
	width: calc(100% - 300px);
	border-radius: 10px;
	height: 50px;
}

.form-group-fluid.answer.answer-multiple-choice {
	height: 170px;
}

.form-group-fluid.answer .one-answer {margin-left: calc(10% + 150px);width: calc(80% - 150px);display: block; position: relative;}

input[type="file"] {
	margin: -10px 0px;
	position: absolute;
	bottom: 0px;
	font-size: 14px;
	left: calc(10% + 150px );
}
.btn-danger {
	position: absolute;
	top: 6px;
	margin-left: 20px;
}
.addNewQuestion {
	position: absolute;
	margin-left: 88px;
	width: 22px;
	height: 22px;
	left: 180px;
	border-radius: 50%;
	background: #19b133;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
}
input[type = "text"] {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	border-radius: 4px;
}
.label-add {
	margin-top: 3px;
	position: absolute;
	left: 295px;
	color: #19b133;
	cursor: pointer;


}
.addNewQuestion:hover {
	background: #179a2d;

}
.form-group-fluid.answer.answer-one-choice {
	display: none;
}


.form-group-fluid.answer.answer-yes-no {
	display: none;
}

.form-group-fluid.answer.answer-text {
	display: none;
}

.form-group-fluid {
	position: relative;
	width: 100%;
	top: 70px;
	margin-top: 40px;
	height: 120px;
}
.img {
	position: absolute;
	bottom: 0;
	top: 109px;
	left: calc(10% + 355px );
}

.form-group-fluid.description textarea {
	position: absolute;
	left: calc(5% + 150px + 5%);
	border-radius: 10px;
	width: calc(80% - 150px);
	height: 90px;
}

.form-group-fluid.answer.answer-text-answrer {
	display: block;
}

select.control-select {
	height: 35px;
	position: absolute;
	left: calc(10% + 150px + 10%);
	border-radius: 10px;
	top: 0;
	font-size: 14px;
	width: calc(60% - 150px);
	padding: 4px 4px;
}

label.control-label {
	font-weight: bold;
	font-size: 18px;
	line-height: 35px;
	left: 10%;
	position: absolute;
	width: 150px;
}

.form-group-fluid label.control-label {
	left: 5%;
}

.form-group {
	float: left;
	width: 50%;
	position: relative;
	height: 35px;
}

h3.title::after {
	border-top: 1px solid #00000045;
	content: "";
	display: block;
	margin-top: 20px;
}

h3.title {font-size: 32px;text-align: center;margin-top: 20px;}

html, body {
	width: 800px;
	font-family: Roboto, serif;
}

.form-group-fluid.answer .one-answer a {
	text-decoration: blink;
}

.clear-fix:after {
	width: 100%;
	content: ' ';
	display: block;
	clear: both;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 170px;
	background: #026b97;
}

.logo {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #fff;
	background: url('../Images/logo.png') no-repeat center center;
	background-size: 150px;
}

.sidebar .menu {
	height: calc(100% - 100px);
	display: flex;
	flex-direction: column;
}

.menu-item {
	height: 65px;
	width: 100%;
	line-height: 65px;
	text-align: left;
	border-bottom: 1px solid #fff;
	text-indent: 18px;
}

.menu-item > a {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.header {
	position: absolute;
	top: 0;
	left: 172px;
	right: 0;
	height: 60px;
	background: #026b97;
}

.header .header-left {
	height: 100%;
	width: 30px;
	float: left;
	text-align: center;
	line-height: 60px;
	margin-left: 20px;
}
.submit {
	position: absolute;
	right: 50%;
	margin-top: 60px;
}

.header-left > span {
	font-size: 20px;
	color: #fff;
}

.header .menu-header-right {
	height: 100%;
	width: 210px;
	float: right;
	display: flex;
}

.menu-header-right-item {
	height: 100%;
	line-height: 60px;
	width: 70px;
	text-align: center;
	position: relative;
}

.menu-header-right-item > span {
	color: #fff;
	font-size: 20px;
}
.notifi {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: red;
	line-height: 20px;
	text-align: center;
	font-size: 14px !important;
	position: absolute;
	top: 10px;
	right: 18px;
}
.notification {
	cursor: pointer;
}
.list-notifi {
	display: none;
	width: 180px;
	height: 200px;
	box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
	position: absolute;
	background: #fff;
	right: 95px;
	top: 38px;
}
.title-notifi {
	height: 40px;
	line-height: 40px;
	color: #212121;
	font-size: 15px;
	text-align: center;
	background: #ebebeb;
}
.content-notifi {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 160px;
}
.notifi-item {
	width: 100%;
	height: 40px;
	font-size: 13px;
	color: #212121;
	text-align: left;
	padding-left: 8px;
	padding-top: 6px;
	background: #dee6fd;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.content {
	position: absolute;
	left: 172px;
	right: 0;
	top: 60px;
	bottom: 0;
	background: #fff;
	width: calc(100% - 172px);
}



.show-hide {
	display: block !important;
}

.account {
	cursor: pointer;
}
.dropdownd-user {
	list-style: none;
	position: relative;
	display: none;
}

.dropdownd-user > li > ul.option-acc {
	position: absolute;
	z-index: 2;
	background: white;
	box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
	left: -57px;
	top: -23px;
}
.text-answer {
	margin-left: calc(10% + 150px);
	border-radius: 5px;
}
.yes-no-answer {
	margin-left: calc(10% + 150px);
}
.dropdownd-user > li > ul > li {
	height: 25px;
	width: 100px;
	line-height: 25px;
	list-style: none;
	text-align: center;
}
input[type=radio]{
	margin: 5px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	color: #026b97;
}
.dropdownd-user a {
	font-size: 14px;
	color: #212121;
	font-family: Tahoma !important;
}

.dropdownd-user > li > ul > li:first-child {
	border-bottom: 1px solid #ccc;
}

.dropdownd-user > li > ul > li:hover {
	background: #dee6fd;
}

.deleteQuestion {
	padding: 6px 12px;
	background-color: #bf360c;
	color: white;
	border: none;
	border-radius: 5px;
}

.checkbox {
	vertical-align: top;
	margin-top: 10px;
	cursor: pointer;
}

.btn {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	font-weight: 500;
}
.btn-submit {
	background-color: #0062b5;
	width: 80px;
	height: 30px;
	margin-left: 20px;
}
.btn-cancel {
	background-color: #9d9d9d;
	width: 80px;

	height: 30px;
}