* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    width: 800px;
}

a {
    text-decoration: none;
}

.clear-fix:after {
    width: 100%;
    content: ' ';
    display: block;
    clear: both;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #026b97;
    border-bottom: 1px solid #fff;
}

    .header .header-left {
        height: 100%;
        width: 30px;
        float: left;
        text-align: center;
        line-height: 60px;
        margin-left: 20px;
    }

.header-left > span {
    font-size: 20px;
    color: #fff;
}

.header .menu-header-right {
    height: 100%;
    width: 210px;
    float: right;
    display: flex;
}

.menu-header-right-item {
    height: 100%;
    line-height: 60px;
    width: 70px;
    text-align: center;
}

    .menu-header-right-item > span {
        color: #fff;
        font-size: 20px;
    }

.list-exam-content {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
}
    .list-exam-content .exam-options {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #026b97;
        justify-content: flex-start;
    }
        .exam-options .exam-item {
            height: 40px;            
            width: 100%;
            border-bottom: 1px solid #fff;
        }
            .exam-item > a {
                display: inline-block;
                height: 100%;
                width: 100%;
                line-height: 40px;
                color: #fff;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
            }
                .exam-item > a:hover {
                    background: #fd9955;
                }
.list-exam-content .note {
    width: calc(100% - 200px);
    height: 100%;
    flex-grow: 1;
    background: #f7f9f9;
}
    .note .title-exam {    
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 26px;
        color: #026b97;
        text-align: center;
    }

    .note .space {    
        height: 2px;
        width: 100px;
        background: #026b97;
        margin: -2px auto;
    }
    .note .exam-name {
        margin-top: 20px;
        height: 80px;
        width: 100%;
        line-height: 80px;
        color: #026b97;
        text-indent: 60px;
    }
        .note .exam-note .note-title {
            font-size: 18px;
            text-indent: 60px;
            margin-bottom: 8px;
        }
        .exam-note .note-item {
            margin-top: 6px;
            text-indent: 75px;
        }
.start-exam {
    width: 100%;
    height: 100px;
    margin-top: 150px;
}
    .start-exam .btn-start-exam {
        display: block;
        width: 140px;
        height: 30px;
        border-radius: 5px;
        background: #026b97;
        text-align: center;
        font-size: 16px;
        outline: none;
        border: none;
        margin: 0 auto;
        cursor: pointer;
    }
    .btn-start-exam > a {
        color: #fff;
    }
    .start-exam .btn-start-exam:hover {
        opacity: 0.8;
    }