.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
    display: none;
}
.title-modal {
    width: 100%;
    height: 40px !important;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    background: #026b97;
    margin-top: 0 !important;
}
.modal-content {
    width: 500px;
    box-shadow: -1px 1px 2px rgba(0,0,0,0.4);
	display: flex;
    flex-direction: column;
    background: #fff;
	margin: 5% auto 50px;
}
.modal-content > div {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 10px;
}
    .modal-content > div > div {
       position: absolute;
    }
    .label {
        width: 150px;
        height: 20px;
        left: 26px;
        top: 6px;
    }
    .input-item {
        width: 150px;
        height: 28px;
        top: 30px;
        right: 50px;
    }
    .input-item > input {
        height: 28px;
        width: 180px;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 8px;
    }

.btn-signup:hover {
    opacity: 0.8;
}
.btn-item {
    width: 90px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
	padding: 6px 12px;
	margin: 10px auto;
}
.update {

   background: rgba(2, 114, 161, 0.88);
}
.update:hover {

	background: #026b97;
}
.cancel {

    background: rgba(250, 44, 44, 0.88);
}
.cancel:hover {

	background: #e12828;
}
.show {
    display: block;
}
button {
	cursor: pointer;
}

.btn-table {
	margin: 0 5px;
	padding: 6px 12px;
	border-radius: 5px;
	border: none;
	color: white;
	width: 60px;
	font-weight: 500;
}
.a-see-detail {
	color: #0062b5;
	cursor: pointer;
}
.a-see-detail:active {
	color: #19b133;
}


