.content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.list-users-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}
.main-title {
    height: 100%;
    line-height: 70px;
    font-size: 23px;
    color: #026b97;
    font-weight: bold;
    width: 300px;
    text-align: center;
    float: left;
    text-transform: uppercase;
}
.search {
    position: relative;
    float: right;
    height: 100%;
    width: calc(100% - 300px);
}
.inp-search {
    position: absolute;
    height: 34px;
    width: 250px;
    border: 1px solid #9f9fa0;
    border-radius: 5px;
    right: 50px;
    top: calc(50% - 17px);
    padding: 8px;
    outline: none;
}
.btn-search {
    position: absolute;
    width: 30px;
    height: 34px;
    background: url('../Images/icon-search.jpg') no-repeat center center;
    background-size: 22px;
    border: none;
    cursor: pointer;
    top: calc(50% - 17px);
    right: 55px;
    outline: none;
}
.btn-add {
    position: absolute;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    background: #19b133;
    border: none;
    cursor: pointer;
    top: calc(50% - 17px);
    right: 340px;
    outline: none;
    color: #fff;
}
.btn-add:hover {
    background: #179a2d;
}
.table-list-users {
    position: absolute;
    left: 0;
    top: 90px;
    right: 3px;
    height: calc(100% - 150px);
    overflow: auto;
    border: 1px solid #ccc;
}
.table-list-users table.list-users {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    table-layout: auto;
	text-align: center;
}
.list-users thead th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 40px;
    color: #636365;
    position: sticky;
    top: 0;
    background: #ebebeb;
	text-align: center;
}
.list-users tbody td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 37px;
    padding: 6px;
	text-align: center;
}
.list-users tbody tr:nth-child(even) td {
    background: rgba(232, 229, 229, 0.79);
}

tbody tr td:nth-child(1) {
    text-align: center;
}
.paging-data {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
}
.paging-left {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}
.paging-data .paging-right {
    height: 100%;
    width: calc(100% - 200px);
    text-align: right;
    line-height: 78px;
    font-size: 14px;
    color: #026b97;
    font-weight: bold;
    padding-right: 20px;
}
.paging-left > div {
    height: 30px;
    width: 30px;
    font-size: 20px;
    border: 1px solid #026b97;
    background: #fff;
    border-radius: 3px;
    color: #026b97;
    text-align: center;
    line-height: 30px;
}
.form-add-user {
	display: block;
}
.form-item {
	margin: 15px;
	display: flex;
}
.label{
	width: 40%;
}
.form-item > input {
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 6px 14px;
	width: 60%;
}
.form-item > select {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;

}
.form-item > option {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;

}