<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
login success
<script src="../JS/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$.ajax({
			method : "GET",
			url : "/authenticate",
			success : function (res) {
				alert("Success");
				console.log(res.data);
				localStorage.setItem("accessToken", res.data.accessToken);
			},
			error : function () {
				alert("error");
			}
		})
	})
</script>
</body>
</html>