<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="../CSS/Layout.css" rel="stylesheet" />
    <link href="../CSS/UsersData.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <title>Khóa học</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <div class="menu">
            <div class="menu-item dash-broad">
                <a href="Layout.html">
                    <span class="fa fa-home"></span>
                    Trang chủ
                </a>
            </div>
            <div class="menu-item Users">
                <a href="UsersData.html">
                    <span class="fa fa-user"></span>
                    Học viên
                </a>
            </div>
            <div class="menu-item Courses">
                <a href="Courses.html">
                    <span class="fa fa-book"></span>
                    Khóa học
                </a>
            </div>
            <div class="menu-item Users">
                <a href="history.html">
                    <span class="fa fa-history"></span>
                    Lịch sử
                </a>
            </div>
        </div>
    </div>
    <div class="header clear-fix">
        <div class="header-left">
            <span class="fa fa-align-justify"></span>
        </div>
        <div class="menu-header-right">
            <div class="menu-header-right-item message">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="menu-header-right-item notification">
                <span class="fa fa-bell"></span>
            </div>
            <div class="menu-header-right-item account">
                <span class="fa fa-user"></span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="list-users-title clear-fix">
                <div class="main-title">Danh sách bộ đề thi</div>
                <div class="search">
                    <input autofocus class="inp-search" type="text" />
                    <button class="btn-search"></button>
                    <button class="btn-add">Thêm bộ đề</button>
                </div>
            </div>
            <div class="table-list-users">
                <table class="list-users">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đề</th>
                            <th>Hạng</th>
                            <th>Người phụ trách</th>
                            <th>Thời gian tạo</th>
                            <th>Thời gian thi</th>
                            <th>Địa điểm thi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>BLX_A1_01</td>
                            <td>A1</td>
                            <td>Phạm Văn Hoàng</td>
                            <td>10/10/2019</td>
                            <td>20/10/2019</td>
                            <td>Hà Nội</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>BLX_A1_01</td>
                            <td>A1</td>
                            <td>Phạm Văn Hoàng</td>
                            <td>10/10/2019</td>
                            <td>20/10/2019</td>
                            <td>Hà Nội</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>BLX_A1_01</td>
                            <td>A1</td>
                            <td>Phạm Văn Hoàng</td>
                            <td>10/10/2019</td>
                            <td>20/10/2019</td>
                            <td>Hà Nội</td>
                        </tr>
</table>
            </div>
            <div class="paging-data">
                <div class="paging-left">
                    <div class="page-first fa fa-angle-double-left"></div>
                    <div class="page-prev fa fa-angle-left"></div>
                    <div class="page-next fa fa-angle-right"></div>
                    <div class="page-last fa fa-angle-double-right"></div>
                </div>
                <div class="paging-right">
                    Hiển thị 1 - 100 trên 100 kết quả
                </div>
            </div>
        </div>
    </div>
    <script src="../JS/jquery-3.4.1.min.js"></script>
    <script src="../Bootstrap/bootstrap.js"></script>
    <script src="../JS/Base.js"></script>
    <script src="../JS/Layout.js"></script>
</body>
</html> 