<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
    <title>Header</title>
</head>
<body>
<div th:fragment="header" class="header clear-fix">
	<div class="header-left">
		<span class="fa fa-align-justify"></span>
	</div>
	<div class="menu-header-right">
		<div class="menu-header-right-item message">
			<span class="fa fa-envelope"></span>
		</div>
		<div class="menu-header-right-item notification">
			<span class="fa fa-bell"></span>
			<!--<span class="notifi" hidden></span>-->
		</div>
		<div class="list-notifi">
			<div class="title-notifi">
				Thông báo
			</div>
			<div class="content-notifi">
				<div class="notifi-item">Bạn vừa đăng nhập thành công!</div>
				<div class="notifi-item">Bạn vừa đăng nhập thành công!</div>
				<div class="notifi-item">Bạn vừa đăng nhập thành công!</div>
				<div class="notifi-item">Bạn vừa đăng nhập thành công!</div>
			
			</div>
		</div>
		
		<div class="menu-header-right-item account">
			<span class="fa fa-user"></span>
			<ul class="dropdownd-user">
				<li>
					<ul class="option-acc">
						<li><span class="fa fa-user-circle"></span><a id="btn-userinfo">Thông tin tài khoản</a></li>
						<li><span class="fa fa-sign-out">   </span><a href="/login">Đăng xuất</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/JS/Layout.js"></script>
</body>
</html>