<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="header">
        <div class="header clear-fix">
            <div class="header-left">
                <span class="fa fa-align-justify"></span>
            </div>
            <div class="menu-header-right">
                <div class="menu-header-right-item message">
                    <span class="fa fa-envelope"></span>
                </div>
                <div class="menu-header-right-item notification">
                    <span class="fa fa-bell"></span>
                </div>
                <div class="menu-header-right-item account">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>