<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap" rel="stylesheet">
    <link href="../CSS/index.css" rel="stylesheet" />
    <title>Đăng Nhập</title>
</head>
<body>
<div id="header">
	<div id="logo"></div>
	<div id="menu">
		<a href="#">Trang Chủ</a>
		<a href="#">Giới Thiệu</a>
		<a class="contact" href="#">Liên Hệ</a>
	</div>
</div>
<div id="form">
	<div id="form-content">
		<form name="f" method="post" action="/authenticate">
			<h1 class="signin-title">đăng nhập</h1>
			<span class="username">Tên đăng nhập</span>
			<input type="text" name="username"/>
			<span class="password">Mật khẩu</span>
			<input type="password" name="password"/>
			<a class="forgot-password" href="#">Quên mật khẩu?</a>
			<button name="signin" id="submit">Đăng nhập</button>
		</form>
	</div>
</div>
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<!--<script type="text/javascript">-->
	<!--$(document).ready(function () {-->
		<!--$("#submit").click(function () {-->
			<!--$.ajax({-->
				<!--method : "POST",-->
				<!--contentType : "application/json",-->
				<!--url : "/authenticate",-->
				<!--success : function (res) {-->
					<!--console.log(res);-->
					<!--alert("Success" + res.toString());-->
					<!--// localStorage.setItem("accessToken", data.accessToken);-->
				<!--},-->
				<!--error : function () {-->
					<!--alert("Login error");-->
				<!--}-->
			<!--})-->
		<!--})-->
		<!---->
		<!---->
	<!--})-->
<!--</script>-->
</body>
</html>