<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap" rel="stylesheet">
    <link href="../CSS/Signin.css" rel="stylesheet" />
    <title>Đăng Nhập</title>
</head>
<body>
    <div id="header">
        <div id="logo"></div>
        <div id="menu">
            <a href="#">Trang Chủ</a>
            <a href="#">Giới Thiệu</a>
            <a class="contact" href="#">Liên Hệ</a>
        </div>
    </div>
    <div id="form">
        <div id="form-content">
            <form id="signin">
                <h1 class="signin-title">đăng nhập</h1>
                <span class="username">Tên đăng nhập</span>
                <input type="text" name="username"/>
               <span class="password">Mật khẩu</span>
                <input type="password" name="password"/>
                <a class="forgot-password" href="#">Quên mật khẩu?</a>
                <button name="signin"><a href="Layout.html">Đăng Nhập</a></button>
            </form>
        </div>
    </div>
</body>
</html>