<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
<link href="../CSS/Layout.css" rel="stylesheet"/>
<link href="../CSS/UsersData.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Quản lý học viên</title>
</head>
<body>
<div class="sidebar">
	<div class="logo"></div>
	<div class="menu">
		<div class="menu-item dash-broad">
			<a href="/admin/dashboard">
				<span class="fa fa-home"></span>
				Trang chủ
			</a>
		</div>
		<div class="menu-item Users">
			<a href="/admin/manage-user">
				<span class="fa fa-user"></span>
				Học viên
			</a>
		</div>
		<div class="menu-item Courses">
			<a href="/admin/courses">
				<span class="fa fa-book"></span>
				Khóa học
			</a>
		</div>
		<div class="menu-item Users">
			<a href="/admin/history">
				<span class="fa fa-history"></span>
				Lịch sử
			</a>
		</div>
	</div>
</div>
<div class="header clear-fix">
	<div class="header-left">
		<span class="fa fa-align-justify"></span>
	</div>
	<div class="menu-header-right">
		<div class="menu-header-right-item message">
			<span class="fa fa-envelope"></span>
		</div>
		<div class="menu-header-right-item notification">
			<span class="fa fa-bell"></span>
		</div>
		<div class="menu-header-right-item account">
			<span class="fa fa-user"></span>
		</div>
	</div>
</div>
<div class="content">
	<div class="content-wrap">
		<div class="list-users-title clear-fix">
			<div class="main-title">Danh sách học viên</div>
			<div class="search">
				<input autofocus class="inp-search" type="text"/>
				<button class="btn-search"></button>
				<button class="btn-add">Thêm User</button>
			</div>
		</div>
		<div class="table-list-users">
			<table class="list-users">
				<thead>
					<tr>
						<th fieldName="id">ID</th>
						<th fieldName="fullName">Họ tên</th>
						<th fieldName="email">Email</th>
						<th fieldName="phone">Số điện thoại</th>
						<th fieldName="address">Địa chỉ</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="paging-data">
			<div class="paging-left">
				<div class="page-first fa fa-angle-double-left"></div>
				<div class="page-prev fa fa-angle-left"></div>
				<div class="page-next fa fa-angle-right"></div>
				<div class="page-last fa fa-angle-double-right"></div>
			</div>
			<div class="paging-right">
				Hiển thị 1 - 100 trên 100 kết quả
			</div>
		</div>
	</div>
</div>
<script src="../JS/jquery-3.4.1.min.js"></script>
<script src="../JS/Base.js"></script>
<script>
	let base = new Base();
	base.loadAllData("/api/user", "GET");
	
</script>
</body>
</html> 