<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="/CSS/Layout.css" rel="stylesheet" />
    <link href="/CSS/UsersData.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <link href="/CSS/modal.css" rel="stylesheet" />
    <title>Người dùng</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <div class="menu">
            <div class="menu-item dash-broad">
                <a href="Layout.html">
                    <span class="fa fa-home"></span>
                    Trang chủ
                </a>
            </div>
            <div class="menu-item Users">
                <a href="UsersData.html">
                    <span class="fa fa-user"></span>
                    Học viên
                </a>
            </div>
            <div class="menu-item Courses">
                <a href="Courses.html">
                    <span class="fa fa-book"></span>
                    Khóa học
                </a>
            </div>
            <div class="menu-item Users">
                <a href="history.html">
                    <span class="fa fa-history"></span>
                    Lịch sử
                </a>
            </div>
        </div>
    </div>
    <div class="header clear-fix">
        <div class="header-left">
            <span class="fa fa-align-justify"></span>
        </div>
        <div class="menu-header-right">
            <div class="menu-header-right-item message">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="menu-header-right-item notification">
                <span class="fa fa-bell"></span>
            </div>
            <div class="menu-header-right-item account">
                <span class="fa fa-user"></span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="list-users-title clear-fix">
                <div class="main-title">Danh sách khách hàng</div>
                <div class="search">
                    <input autofocus class="inp-search" type="text" />
                    <button class="btn-search"></button>
                    <button class="btn-add btn-add-user">Thêm User</button>
                </div>
            </div>
            <div class="table-list-users">
                <table class="list-users list-users-main">
                    <thead>
                        <tr>
                            <th fieldName="CustomerID">Mã</th>
                            <th fieldName="CustomerName">Họ tên</th>
                            <th fieldName="Email">Email</th>
                            <th fieldName="Phone">Số điện thoại</th>
                            <th fieldName="Address">Địa chỉ</th>
                            <th fieldName="Action">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="paging-data">
                <div class="paging-left">
                    <div class="page-first fa fa-angle-double-left"></div>
                    <div class="page-prev fa fa-angle-left"></div>
                    <div class="page-next fa fa-angle-right"></div>
                    <div class="page-last fa fa-angle-double-right"></div>
                </div>
                <div class="paging-right">
                    Hiển thị 1 - 100 trên 100 kết quả
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-add-user">
        <div class="modal-content">
            <div class="title-modal">
                THÊM MỚI NGƯỜI DÙNG
            </div>
            <div class="fullname">
                <div class="label">Tên đầy đủ</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="username">
                <div class="label">Tên tài khoản</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="email">
                <div class="label">Email</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="phone">
                <div class="label">Số điện thoại</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="address">
                <div class="label">Địa chỉ</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="password">
                <div class="label">Mật khẩu</div>
                <div class="input-item"><input type="password" /></div>
            </div>
            <div class="confirm-password">
                <div class="label">Xác nhận mật khẩu</div>
                <div class="input-item"><input type="password" /></div>
            </div>
            <div class="btn-wrap">
                <button class="btn-item update">Đăng ký</button>
                <button class="btn-item cancel">Hủy</button>
            </div>
        </div>
    </div>
    <div class="modal modal-detail-profile">
        <div class="modal-content">
            <div class="title-modal">
                CẬP NHẬT NGƯỜI DÙNG
            </div>
            <div class="fullname">
                <div class="label">Tên đầy đủ</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="birthday">
                <div class="label">Ngày sinh</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="address">
                <div class="label">Địa chỉ</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="phone">
                <div class="label">Số điện thoại</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="email">
                <div class="label">Email</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="cmt">
                <div class="label">Số CMND</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="chucvu">
                <div class="label">Chức vụ</div>
                <div class="input-item"><input type="text" /></div>
            </div>
            <div class="btn-wrap">
                <button class="btn-item update">Cập nhật</button>
                <button class="btn-item cancel">Hủy</button>
            </div>
        </div>
    </div>
    <script src="/JS/jquery-3.4.1.min.js"></script>
    <script src="/JS/Base.js"></script>
    <script src="/JS/Layout.js"></script>
</body>
</html> 